<style>

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .line {
        stroke-width: 2;
        fill: none;
    }

</style>
